version: 2
jobs:
  build:
    working_directory: ~/frontrzu
    docker:
      - image: circleci/node:9-browsers
    steps:
      - checkout
      - restore_cache:
          key: frontrzu-{{ .Branch }}-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          key: frontrzu-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
            - 'node_modules'
      - run: npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
      - run: npm run e2e -- --protractor-config=e2e/protractor.conf.js
